@import url("https://fonts.google.com/specimen/Teko");

#BarraDeNavegacion{
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: fixed;
    
}
#Navegador{
    height: 100%;
    padding: 0%;
    display: flex; 
    justify-content: center;
    border-bottom: 3px solid #080818; 
    align-items: center;
}

.Content{
    font-size: 2.5rem;
    margin: 0%;
    font-family: 'Teko', sans-serif;
}


.ListaNav{
    height: 100%;
    margin: 0%;
    padding-left: 0%;
    display: flex;
    align-items: center;
    gap: 20px; 
}


button {
  background-color: #31363F;
  color: #EEEEEE;
  border-radius: 15em;
  font-size: 20px;
  font-weight: 600;
  padding: 0.5em 0.5em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black; 
}

button:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
};

.Links{
    height: 100%;
    display: flex;
    align-items: center;
    font-family: 'Exo 2', sans-serif;
}

button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.1em 0.1em #5cae8d;
    transition: all 0.1s;
};




